.menutable {
    margin: 5px;
    float: left;
}

.A {
    margin-left: 20%;
    margin-right: 20%;
    float: left;
}


img {
    height: 250px; 
    width: 270px; 
    border-radius: 36px;
}

.p1 {
    font-weight: bold;
}

hr {
    font-weight: bold;
    color: orange;
}
